*, body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}
header .menuLeft{
    display: flex;
    align-items: center;
    gap: 50px;
}
header .menuLeft nav{
    display: flex;
    gap: 20px;
}
header .menuLeft nav a{
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: fit-content;
    height: 60px;
    margin-right: -15px;
    padding-top: 10px;
}
header .menuRight i:hover,
header .menuLeft a:hover{
    color: #ed4d8b;
}
header .menuRight{
    display: flex;
    gap: 30px;
    cursor: pointer;
}
header .logo{
    font-size: 28px;
    font-weight: 900;
}
/*body*/
.banner{
    display: flex;
    width: 100%;
}
.bannerImg{
    background-color: #f4d0d9;
    width: 50%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    position: relative;
}
.bannerImg img{
    width: 100%;
    height: 500px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.bannerInfo {
    width: 50%;
    background-color: #f4d0d9;
}
.bannerInfo .slogan{
    padding: 150px 0 30px 100px;
    color: black;
    font-size: 24px;
    font-weight: 800;
}
.banner .sub{
    padding: 0 0 30px 100px;
    color: black;
    font-size: 18px;
}
.banner button{
    margin-left: 160px;
    color: white;
    background-color: #be064c;
    border-radius: 16px;
    font-size: 16px;
    padding: 6px 14px;
    cursor: pointer;
    border: none;
    font-weight: 800;
}
.container{
    margin: 0 150px;
}
.container .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-top: 20px;
}
.container .title{
    margin: 20px 0;
    font-size: 30px;
    font-weight: 600;
}
.container .bestSellerProducts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 25px;
}
.bestSellerProducts .product{
    display: flex;
    flex-direction: column;
    width: 23%;
    justify-self: center;
    box-shadow: 6px 6px 6px 6px #fcfbfb;
    cursor: pointer;
}
.product .properties{
    text-align: center;
    background-color: white;
}
.bestSellerProducts .product img{
    width: 100%;
    height: 200px;
}
.bestSellerProducts .product .price{
    color: #ed4d8b;
    font-weight: bolder;
}
.bestSellerProducts .rate i{
    color: #ffd43b;
}
.saleOff{
    margin-top: 80px;
    display: flex;
}
.saleOffInfo{
    width: 50%;
    background-color: #c6b98237;
}
.saleOff .saleOffImg{
    background-color: #c6b98237;
    width: 50%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    position: relative;
}
.saleOff .saleOffImg img{
    width: 100%;
    height: 500px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.saleOff .line1{
    padding: 80px 0 0 150px;
    color: black;
    font-size: 20px;
}
.saleOff .line2{
    padding: 0 0 0px 150px;
    font-size: 30px;
    font-weight: 900;
    color: black;
    margin: -10px 0;
}
.saleOff .line3{
    padding: 0 0 20px 150px;
    color: black;
}
.saleOff button{
    margin-left: 150px;
    background-color: #be064c;
    border-radius: 16px;
    font-size: 16px;
    padding: 6px 14px;
    cursor: pointer;
    border: none;
    font-weight: 800;
}
.trending .title{
    text-align: center;
    margin: 40px 0 20px 0;
}
.collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 25px;
}
.collection .product{
    display: flex;
    flex-direction: column;
    width: 23%;
    justify-self: center;
    box-shadow: 6px 6px 6px 6px #fcfbfb;
    cursor: pointer;
    position: relative;
}
.collection .product span{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: #ed4d8b;
    border-radius: 12px 0 0 12px ;
    padding: 4px 8px;
    color: white;
}
.collection .product img{
    width: 100%;
    height: 200px;
}
.collection .product .price{
    color: #ed4d8b;
    font-weight: bolder;
}
.collection .rate i{
    color: #ffd43b;
}
.popularBrands{
    padding: 0 150px;
}
.popularBrands .title{
    text-align: center;
    margin: 40px 0;
    font-size: 30px;
    font-weight: 600;
}
.popularBrands .listBrands{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.popularBrands .listBrands .brand{
    width: 25%;
    justify-self: center;
    text-align: center;
}
.listBrands .brand img{
    width: 80px;
    height: 80px;
}
.reviewsList{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.reviewsList .review{
    background-color: #fcf1f0;
    padding: 15px 30px;
    border-radius: 10px;
}
.review .total{
    font-size: 24px;
    color: #be064c;
    font-weight: 700;
    margin-bottom: 10px;
}
.review .detail{
    color: #3d0118;
    font-size: 16px;
    margin-bottom: 10px;
}
.review .star{
    color: #ffd43b;
}
.review .user i{
    border: 1px solid black;
    border-radius: 50%;
    padding: 4px;
}
.review .user p{
    font-weight: 800;
    color: #3d0118;
}
/*footer*/
.footer{
    background-color: #F3A8BB;
    padding: 20px 40px;
    display: flex;
    gap: 150px;
    border-radius: 0 0 16px 16px;
    margin-top: 40px;
}
.footer .infor{
    color: white;
}
.footer .infor .logo{
    font-size: 28px;  
    font-weight: 800; 
    font-style: italic;
    margin-bottom: 5px;
}
.footer .infor .logo img{
    width: fit-content;
    height: 60px;
    margin-right: -15px;
    padding-top: 10px;
}
.footer .infor .address,
.footer .infor .phone{
    font-weight: 600;
    margin: 20px 0;
}
.footer .infor .address i,
.footer .infor .phone i{
    color: #be064c;
}
.footer .infor .network{
    display: flex;
    gap: 10px;
}
.footer .infor .network i{
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    color: #be064c;
    background-color: white;
    
}
.footer .cooporate,
.footer .information,
.footer .service{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.footer .infor .network,
.footer .infor .phone,
.footer .infor .address,
.footer .cooporate p,
.footer .information p,
.footer .service p{
    cursor: pointer;
}